/* Login Page */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oswald:wght@400;500&family=Roboto&display=swap");

:root {
  --primary-color: #adff00;
  --primary-color-light: #ddffbb;
  --primary-color-dark: #17a500;
  --color-gray: #c7c4c4;
  --color-gradient: linear-gradient(45deg, #008eff, #2dfd8e);
  --color-gradient2: linear-gradient(to right, #16bffd, #cb3066);
  --color-gradient3: linear-gradient(to right, #01a2fd, #1affff);
}

* {
  font-family: "Roboto", sans-serif;
  transition: all 0.2s linear;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oswald&family=Roboto&family=Titillium+Web:wght@600&display=swap');

:root {
  /* generate a gradient color with red and blue? */
  --primary-color: #00FF87;
  /* --primary-color: linear-gradient(255deg, #00FF87, #078C5D); */
  --primary-color-light: #DDFFBB;
  --primary-color-dark: #17A500;
  --color-gray: #c7c4c4;
  --color-gradient-blue: linear-gradient(45deg, #008eff, #2dfd8e);
  --color-gradient-green: linear-gradient(255deg, #00FF87, #078C5D);
}

* {
  font-family: 'Roboto', sans-serif;
  transition: all 0.1s ease-in-out;


}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background: var(--color-gradient-green);

}

.App {
  position: relative;
  /* text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;  
  justify-content: center; */

}

.app-container {
  max-width: 1600px;
  margin: 0 auto;
}


.bold {
  font-weight: bold;
}
.auth-form-container,
.login-form {
  display: flex;
  padding-bottom: 5px;
  flex-direction: column;
  width: 400px;
}

.label-email {
  width: 100%;
  text-align: left;
}

.label-password {
  width: 100%;
  padding-top: 5%;
  text-align: left;
}

.button-login {
  width: 100%;
  text-align: center;
}

.btnlogin {
  background: var(--color-gradient3);
  width: 100%;
  border: thin;
  padding: 3%;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.btnlogin:hover {
  transform: scale(1.05);
}
.btnlogin::after {
  content: "→";

  font-size: 18px;
  margin-left: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btnlogin:hover::after {
  opacity: 1;
  margin-left: 10px;
}

.btnlogin::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #2dfd8e;
  border-radius: 20px;
  z-index: -1;
  transition: height 0.3s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 0, 0.2, 0.2);
}

.btnlogin:hover::before {
  height: 100%;
}
.btnlogin:active {
  border: none;
}
/* 
.login-image {
  background-image: url("./images/loginimage.png");
  height: 100%;
  width: 500px;
  border-radius: 40px;
  
} */

/* ------------------------------------------------------- */

/* Nav bar */

li:hover {
  background-color: #777;
  text-decoration: none;
}

li:active {
  text-decoration: none;
}

.avatar {
  background-image: url("./images/LoginImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  border-radius: 100%;
  padding: 26px;
}