/* Login Page */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oswald&family=Roboto&display=swap');
:root {
  --primary-color: #ADFF00;
  /* --primary-color: linear-gradient(255deg, #00FF87, #078C5D); */
  --primary-color-light: #DDFFBB;
  --primary-color-dark: #17A500;
  --color-gray: #c7c4c4;
  --color-gradient-blue: linear-gradient(45deg, #008eff, #2dfd8e);
  --color-gradient-green: linear-gradient(255deg, #00FF87, #078C5D);
}

* {
  font-family: 'Roboto', sans-serif;
  transition: all 0.2s linear;
}
.App {
  /* text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;  
  justify-content: center; */
}

.auth-form-container,
.login-form {
  display: flex;
  padding-bottom: 5px;
  flex-direction: column;
  width: 50%;
}

.label-email {
  width: 100%;
  text-align: left;
}

.sign-in {
  width: 100%;
  padding-bottom: 15%;
}

.label-password {
  width: 100%;
  padding-top: 5%;
  text-align: left;
}

.button-login {
  padding-top: 10%;
  width: 100%;
  text-align: center;
}

.btnlogin {
  background: #ff4d4d;
  width: 100%;
  border: thin;
  padding: 3%;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: color 0.4 linear;
}

.btnlogin:hover {
  background: #ff3333;
}

.leftside,
.rightside {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftside {
  background: white;
}

.rightside {
  background: white;
}

.login-image {
  background-image: url("./images/LoginImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* ------------------------------------------------------- */

/* Nav bar */

li:hover {
  background-color: #777;
  text-decoration: none;
}

li:active {
  text-decoration: none;
}


.avatar {
  background-image: url("./images/LoginImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  border-radius: 100%;
  padding: 26px;
}
